/* hex_values="Sage green: #9DC183, Olive green: #6B8E23, 
Terracotta: #E2725B,Sand beige: #D2B48C Warm brown: #8B5A2B 
Pale yellow: #F0E68C" */

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700;1,800&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300&display=swap');


* {
    margin: 0px;
    padding:0px;
    
    
}





nav {
    background-color:#8B5A2B ;
    height: 50px;
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'helvetica';
  }
  
  li a:hover {
    background-color: #D2B48C;
  }

  .main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%
    background-color: #ebe8e5;
  }

  .blog {
    background-color: white;
    width:90%;
    max-width: 1000px;
    height:100%;
    
  }

  .blog #branding{
    text-align: center;
    font-family: 'Nothing You Could Do';
    margin:20px;
  }

  .blog h2 {
    margin:20px;
    font-family: 'Lato';
    
  }

  .post {
    padding:50px;
    border-bottom: 1px solid rgba(128,128,128,0.5)

  }

.post #title {
  font-family:'Lato';
  color: #25110d ;
  margin-bottom:20px;
}


.post p {
  font-family: 'Open Sans';
  
  margin-bottom: 10px;
}




.post img {
  width:320px;
  height:180px;
}

.hero {
  background-color:#9DC183;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.hero h3{
  font-family: helvetica;
  color:#383231;
}

.content h5 {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: 11px;
  font-weight: 400;
}

h1 img {
  width:120px;
  height:80px;
}



.branding h1{
  font-family: 'Nothing You Could Do', cursive;
  font-size:;
  color:#4b690e;
  text-align: center;
 }


/* .content {
  flex:1;
  
} */


.thumbnail {
  margin:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.branding {
  width:40%;
  padding:20px;
  display:flex;
  align-items: center;
  justify-content: center;
}


.single {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.single h1 {
  margin:20px;
}

.post-info h3{
  float:left;
}

.post-content {
  margin-top: 40px;
}
.single img {
  max-width:640px;
  max-height:420px;
}

@media screen and (max-width:440px) {
  .post {
    padding:15px;
  }
  .single img {
    width:100%;
    height:auto;
  }
  
}

.content a {
  text-decoration: none;
  color:black;
}

.noMargin {
  border-bottom: none;
}

.tag {
  display: inline-block;
  background-color: #e6e6e6;
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: 'Lato';
  font-size: 11px;
}


.tag:hover {
  background-color: #ccc;
  cursor: pointer;
}